.theSiren{
    font-size:300%;
    font-weight: bold;
    color: black;
    margin-top: 30px;
    text-decoration: underline;
    font-family: 'Times New Roman';
    
    
}
.social-media-box{
    display: flex;
    flex-direction: column;
}
#footer-box{
    background-color:  rgb(192, 187, 187);;
    /* white-space: 50px; */
     /* height: 100vh; */
}
.footer-box{
    display: flex;
    justify-content: space-around;
    width: 98vw;

}
h2{
    margin: 20px;
}
#social-media-logo{
    display: flex;
    
    justify-content: flex-start;
}
.social-media-logo{
    height: 50px;
    width: 50px;
    margin: 20px;
}
.contact{
    /* margin-top: 30px; */
    /* margin-left: 20px; */
    color: black;
    font-size: 200%;
}
@media (min-width:250px) and (max-width:500px){
    .footer-box{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 1585px;
        /* min-width: 100%; */
    }
    #footer-box{
        background-color: rgb(192, 187, 187);
        width: 1600px;
         /* white-space: 1000vh; */
        
    }
}
@media  (min-width:501px) and (max-width:1300px){
    .footer-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 1600px;

    }
    #footer-box{
        background-color:  rgb(192, 187, 187);;
         /* width: 2010px;
          */
          width: 200vh;
         /* white-space: 1000vh; */
        
    }
}